<div class="dialog-content-wrapper">
    <mat-toolbar class="amber m-0" fxLayout="column">
        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title" fxLayoutAlign="center center" >Fondation Canary</span>
            <button mat-icon-button (click)="onClose()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
   
    <div class="content-card  variable-width"  fxLayoutAlign="center center" fxFlex="100" id="marginfon" >
<strong fxLayoutAlign="center center" > La mission de la Fondation Canary est de sensibiliser toutes les générations 
  (en priorité dans les écoles) sur les thématiques d’environnement et plus particulièrement sur
   l’impact de la nutrition et des ondes électromagnétiques sur la santé.
  </strong>
  </div>
  </div>

  