<div id="productslis2" class="page-layout carded fullwidth inner-scroll" style="background-color:  rgb(255, 195, 76) !important;">

  <!-- HEADER -->
  <!-- TOP BACKGROUND -->
  <div class="top-bg" style="background-color:  rgb(255, 195, 76) !important;"></div>
  
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <!-- HEADER -->
    <div class="header" style="background-color:  rgb(255, 195, 76) !important;" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
      fxLayoutAlign.gt-sm="space-between center">
      <div fxLayout="row" fxLayoutAlign="start center">

          <div fxLayout="column" fxLayoutAlign="center center"
               [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
              <div class="h1">
                Qui sommes nous
              </div> 
          </div>
          
     </div>


    </div>
    <br>
    <div class="content-card" fxLayout="row wrap" fxFlex="100"  fxLayoutGap="10px" >
        <div  class=" variable-width" fxFlex="100" id="margin" >
        <div class="h1" fxLayoutAlign="center center"> L’équipe CANARY</div>
        <br>
        <strong> Jean-Baptiste Poylo, PDG </strong>
        <br>
        <br>
        <div class="h4" fxLayoutAlign="start start"> Entrepreneur indépendant, Jean-Baptiste a créé sa première société à 23 ans. Il accompagne les particuliers et les entreprises dans leurs projets d’investissement depuis près de 30 ans. Parallèlement, il lance en 2009 H24Finance, qui deviendra le 1er média digital pour les professionnels de la finance.

            Il associe aujourd’hui finance et philanthropie avec la création de la Société Canary et de la Fondation Canary.
        </div>
        <br>
        <strong> Pierre Bermond, Directeur de la Recherche          </strong>
        <br>
        <br>
        <div class="h4" fxLayoutAlign="start start">
            Associé-fondateur de EOS Allocations, Pierre est spécialiste en sélection de fonds et les analyse depuis près de 20 ans. Il est également professeur à l’Université Toulouse 1 Capitole et à Kedge Business School.
        </div>
        <br>
        <strong>Anice El Archi, Directeur du Développement          </strong>
        <br>
        <br>
        <div class="h4" fxLayoutAlign="start start">
            Directeur du développement du média H24Finance, Anice suit l’ensemble des fonds d’investissement disponibles sur le marché des particuliers depuis près de 10 ans. Avant de rejoindre Jean-Baptiste il y a 5 ans, il a travaillé pour BNP Paribas et AXA France.       
           </div>
            <br>
        <strong>2 consultants assistent en permanence le CANARY          </strong>
        <strong>Benjamin Poylo          </strong>
        <br>
        <br>
        <div class="h4" fxLayoutAlign="start start">

            Pendant près de 20 ans, Benjamin a accompagné les actionnaires dirigeants de PME – ETI dans la structuration de leur patrimoine privé et professionnel en tant que Directeur Gestion de Fortune chez Banque Transatlantique et Natixis Wealth Management. Il est aujourd’hui indépendant.     
         </div>
         <br>
         <strong>Erik Alme          </strong>
         <br>
         <br>
         <div class="h4" fxLayoutAlign="start start">
            Fondateur de Stavanger Capital, Erik rconseille les particuliers et institutionnels dans leurs investissements. Il a plus 25 ans d’expérience dans la gestion privée, notamment chez Lazard et Lombard Odier.
                      </div>


      </div>
        
        
    </div>
   
  </div>
 
</div>